<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hig.no.crowdinteraction" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAo819TiU_zcVtkV5UuSH5kOip5T-SuH14"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginForm"
            android:label="@string/title_activity_login_form"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hig.no.crowdinteraction.MainActivity" />
        </activity>
        <activity
            android:name=".Register_user"
            android:label="@string/title_activity_register_user"
            android:parentActivityName=".LoginForm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hig.no.crowdinteraction.LoginForm" />
        </activity>
        <activity
            android:name=".EventList"
            android:label="@string/title_activity_event_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hig.no.crowdinteraction.MainActivity" />
        </activity>
        <activity
            android:name=".VoteActivity"
            android:label="@string/title_activity_vote"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".Leaderboards"
            android:label="@string/title_activity_leaderboard"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hig.no.crowdinteraction.MainActivity" />
        </activity>
        <activity
            android:name=".LiveEventList"
            android:label="@string/title_activity_live_event_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hig.no.crowdinteraction.MainActivity" />
        </activity>

        <activity
            android:name=".Nationality"
            android:label="Nationality" >
        </activity>

        <activity
            android:name=".EventMap"
            android:label="Event Map" >
        </activity>


        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />


        <uses-library android:name="android.test.runner" />

        <!--requirement for OpenGL ES version 2-->
        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>


</manifest>
