<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hig.no.crowdinteraction" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginForm"
            android:label="@string/title_activity_login_form"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hig.no.crowdinteraction.MainActivity" />
        </activity>
        <activity
            android:name=".Register_user"
            android:label="@string/title_activity_register_user"
            android:parentActivityName=".LoginForm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hig.no.crowdinteraction.LoginForm" />
        </activity>
    </application>

</manifest>
